.yolHatyTable {
  width: 100%;
  /* background-color:#1890ff; */
  margin: 0 auto;
}
.ant-modal-body {
  padding-top: 0;
}

.yolHatyTable--uytgetmeler {
  width: 100%;
  margin: 0 auto;
}
.yolHatyTable--uytgetmeler .ant-input-group-addon {
  width: 130px;
  text-align: left;
}
.DrawerButtons {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
.DrawerButton {
  margin: 10px;
}
.modalLi {
  margin: 10px;
  font-size: 17px;
  width: 100%;
}

.modalLi td {
  padding: 4px;
}
.goshmacha--ul {
  list-style: none;
  width: 100%;
  margin: 0 auto;
}
