.ugurlar--form {
  width: 100%;
  background-color: inherit;
  margin: 0 auto;
  margin-top: -10px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ugurlar--form .ant-input-group-addon {
  width: 110px;
  text-align: left;
}
.ugurlar-gosh--input {
  width: 350px;
  margin: 5px;
}

.ugurlar-gosh--buttons{
  position: fixed;
  bottom:5vh;
  right: 3.5vw;
  margin: 0 auto;
}
.ugurlar-gosh--button{
  margin: 20px;
  margin-bottom: 0;
}