
.bus{
    background-color: #F5F5F5;
}
.bus--top{
    margin-top: 0px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.bus--header{
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 900;
}
.bus--gosh{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.bus--gozleg{
    display:inline-flex;
   width: 100%;
}
.ant-drawer-title{
    font-size: 20px;
    font-weight: 700;
}