.busTable {
  width: 100%;
  background-color: inherit;
  margin: 0 auto;
}

.modalLi {
  margin: 10px;
  font-size: 16px;
}

.bus-table--drawer .ant-input-group-addon {
  width: 100px;
  text-align: left;
}
.Goshmacha--ul {
  list-style: none;
  width: 100%;
}

.Goshmacha--ul td {
  padding: 6px;
}
.bus-table--buttons {
  width: 100%;

  display: flex;
  margin: 5px;
  justify-content: space-evenly;
}

.bus-uytget--input {
  margin: 5px;
  width: 100%;
}
