.LukmanTable{
    width: 100%;
    /* background-color:#1890ff; */
    margin: 0 auto;

}
.lukmanGoshmachaLi{
    margin: 10px;
    font-size: 17px;
}
.lukmanGoshmachaUl{
    list-style: none;
    margin: 0 auto;
}

@media screen and (max-width:750px) {

    .suruji-yagdayy--input{
        width:95%;
    }
    
}